.allpage{

height: 100px; width: 1500px;
background-color: blueviolet;
padding left:20px ;


}
.img1{

    height: 600px;width: 500px;
    position: relative;
    top:40px;
    padding-right: 1000px;
    


}

ul li{display: inline; }
