*{margin: 0px;
padding:0px;
display:cover;
border: 1px 1px;
}

.Main {

    height: 1600px;
    width: 1500px;                                                      
    background-image: url(union\ bank.jpg);
    background-repeat: no-repeat;
    scroll-margin: 100px;
    border: 5px 5px 5px 5px;
    border-color: black;
}


.header{
    height: 50px;
    width: 1000px;
    background-color: red;
    margin-left: 300px;
    align-items: center ; }
    
ul li{

    float: left;
    height: 50px;
    width: 195px;
    list-style: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    z-index: +1;
}

ul li:hover {

    background-color: greenyellow;
}

ul li>ul li {

    display: none;

}
ul li:hover>ul li{
    display: block;
}
.Text{
height: 1200px;
width: 400px;
background-repeat: no-repeat;
position: relative;
bottom: -120px;
right: 290px;
images:font-size:12px;
z-index: -1;
}

.text1{
height: 1000px;
width: 590px;
position: relative;
left: -499px;

}
    